
/********************/
/* -- BLOCK PAGE -- */
/********************/


main{
    display: block;
}
html {
    padding: 0 50px;
}
body{
    font-family: 'Raleway', sans-serif;*/
}
h4{
    margin: 4px;
    font-size: 95%;
}
h5{
    margin: 5px;
    font-weight: 500;
}
h2{
    font-size: 1.5em;
}
@font-family{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}


/****************/
/* -- HEADER -- */
/***************/


.header{
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
}
.header_img{
    width: auto;
    height: 3rem; 
}


/****************/
/*-- nav top -- */
/****************/



.header_nav{
    display: flex;
    cursor: pointer;
}
.header_nav_link_1{
    padding: 1rem;
    margin-left: 1rem;
    border-top: 3px transparent solid;
    border-color: #0065FC;
    color: #0065FC;
    text-decoration: none;
}
.header_nav_link_2{
    padding: 1.18rem;
    margin-left: 1.5rem;
    text-decoration: none;
    color: black;
}
.header_insc{
    color: #0065FC;
    padding: 1rem;
    margin-left: 2rem;
    margin-top: 0.2rem;
    text-decoration: none;
}


/*****************************/
/* -- Title accomodations -- */
/*****************************/


}
.article1_search_title{

}
.article1_title_h1{
    font-weight: bold;
    font-size: 1.65em;
    margin-bottom: 0.2rem;
}
.article_title_h2{
    font-size: 1.09em;
    margin-top: 0rem;
}


/****************/
/* -- Search -- */
/****************/


.search_icon{
    background-color:#F2F2F2;
    padding: 0.68rem 0.8rem;
    border-radius: 1rem 0 0 1rem;
    
}
.search{
    display: inline-flex;
    border-color: #F2F2F2; 
}
.search_bar{
    border-top: 0.15rem solid #F2F2F2;
    border-bottom: 0.15rem solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding: 0.5rem;
    font-family: "Raleway", "Sans serif"; 
}
.search_button{
    background-color: #0065FC;
    padding: 0.68rem 0.8rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway", "Sans serif";
    cursor: pointer;
}
.search_button_text{
    color: white;
    font-weight: bold;
}



/****************/
/* -- Filter -- */
/****************/


.filters{
    display: flex;
    justify-content: space-between;
    max-width: 75em;
    margin-top: 2rem;
}
.filters_title{
    font-weight: bold;
    font-size: 1.1em;
    
}
.filter_all_types{
    display: flex; 
    align-items: center;
    cursor: pointer;
}
.filter_text:hover{
    background-color: #DEEBFF;

}
.filter_all_type_icon{
    background-color: #DEEBFF;
    color:#0065FC;
    padding: 0.8rem 0.8rem;
    border-radius: 3rem 3rem 3rem 3rem;
    z-index: 1;
    width:18px;
    height:18px;
    line-height: 22px;
    text-align: center;
}
.filter_text{
    border-top: 0.15rem solid #DEEBFF;
    border-bottom: 0.15rem solid #DEEBFF;
    border-right: 0.15rem solid #DEEBFF;
    border-radius: 0 1.5rem 1.5rem 0;
    border-left: none;
    padding: 10px;
    font-family: "Raleway", "Sans serif";
    margin-left: -19px;
    padding-left: 25px;
}


/**********************/
/* -- ACCOMODATION -- */
/**********************/

.accomodation_all{
    display: flex;
    margin-bottom: 50px;
}
.heber_mars{
    margin-top: -18x;
    margin-bottom: 15px;
    font-size: 1.5em;
}
.accom-title{
    margin-left: 45px;
    margin-top: 50px;
}
.accomodations {
    background-color: #f0f0f1; 
    width: 80%; 
    border-radius: 30px;
}
.accomodation_ref{ 
    box-shadow: 4px 4px 4px 4px rgb(236, 236, 236);
    border-radius: 25px;
    margin: 0 0 35px 0;
    background-color: white;
}
.accomodation_img{  
    width: 235px;
    height: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5px;
    object-fit: none;
}
.rating_icons_1 { 
    color: rgb(0, 127, 251);
    font-size: small;
}
.accomodation_lines{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accomodation_name{
    margin-left: 15px;
}
.show_more{  
    margin: 1rem 0 0 4.5rem ;
    text-decoration: none;
    color: black;
}


/******************/
/* -- ACTIVITE -- */
/******************/

.activite_name{
    font-size: 1.1em;
    margin: 10px;
    font-style: bold;
}
.activite_desc{
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
    border-radius: 30px;
}
.activite_ref{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.Vieux_port_img{
    width: 335px;
    height: 390px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: none;
}
.Fort_de_pomegues_img{
    width: 300px;
    height: 180px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: none;
}
.Iles_du_frioul_img{
    width: 300px;
    height: 110px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}
.Parc_nat_calanques_img{
    width: 335px;
    height: 390px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: none;
}
.Notre_dame_img {
    width: 310px;
    height: 140px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}
.Parc_longchamp_img{
    width: 310px;
    height: 155px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}
.a_1_4 > div:nth-child(1) {
    width: 335px;
    height: 450px;
}
.b_2_3 > div:nth-child(1) {
    width: 300px;
    height: 235px;
    margin-bottom: 45px;
}
.b_2_3 >div:nth-child(2) {
    height: 170px;
    width: 300px;
}
.a_1_4 > div:nth-child(3) {
    width: 3px;
    height: 450px;
}
.c_5_6 > div:nth-child(1) {
    width: 310px;
    height: 195px;
    margin-bottom: 45px;
}
.c_5_6 > div:nth-child(2) {
    width: 310px;
    height: 210px;
}



/*****************/
/* -- Popular -- */
/*****************/


.popular{
    background-color: #f0f0f1;
    border-radius: 30px;
    margin-left: 40px;
    padding: 10px 30px 25px 30px;
}
.popular_types{
    box-shadow: 4px 4px 4px 4px rgb(236, 236, 236);
    border-radius: 30px;
    padding: 3px;
    display: flex;
    background-color: white;
    margin-top: 30px;
}
.text_margin_top{
    margin-bottom: 15px;
}
.soleil {
    width: 130px;
    height: 145px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}
.soleil_price{
    margin: -10px 0 50px 0px;
    margin-left: 5px;
}
.coeur{
    width: 130px;
    height: 145px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}
.coeur_price{
    margin: 0 0 50px 0;
    margin-left: 5px; 
}
.bleu_et_blanc{
    width: 130px;
    height: 145px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
}
.bleu_et_blanc_price{
    margin: 0 0 50px 0;
    margin-left: 5px;
}
.rating_icons_2{
      color: rgb(0, 127, 251);
      font-size: small;
      margin-left: 10px;
}

/****************/
/* -- Footer -- */
/****************/

.footer_page{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f1;
    text-decoration: none;
    color: black;
    margin: 5rem -5rem 0 -5rem;
}
.dot{
    list-style: none;
    margin-top: 0.9rem;
}
.footer_style{
    text-decoration: none;
    color: black;
    font-family: "Raleway", "Sans serif"; 
    font-style: bold;
}
.footer_style_title{
    
    text-decoration: none;
    color: black;
}
.list_1{
    font-family: "Raleway", "Sans serif"; 
    font-style: bold;
}
.list_2{
    font-family: "Raleway", "Sans serif"; 
    font-style: bold;  
}
.list_3{
    font-family: "Raleway", "Sans serif"; 
    font-style: bold;
}